{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h1 class="display-3">Register</h1><br/>

    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Choose a username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirm" placeholder="Confirm your password" type="password">
        </div>
        <button class="btn btn-outline-primary" type="submit">Sign Up</button>
    </form>


<script>   

        document.querySelector('form').onsubmit = function() {
        if (!document.querySelector('input[name="username"]').value) {
            alert('You must select a username!');
            return false;
        }
        if (!document.querySelector('input[name="password"]').value) {
            alert('You must enter a password and a password confirmation.');      
            return false;      
        }
        else if (!document.querySelector('input[name="confirm"]').value) {
            alert('You must enter a password and a password confirmation.');      
            return false;      
        }
        
        };



</script>


{% endblock %}
